@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #f0f0f0;
}
  
  .file-input {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
    font-family: Freesentation-9Black, sans-serif;
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: rgb(52, 152, 219);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Freesentation-9Black, sans-serif;
  }
  
  .upload-button:hover {
    background-color: rgb(41, 128, 185);
  }
  
  .preview-image {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .preview-icon {
    font-size: 8rem;
    padding-top: 50px;
  }
  
  .preview-container {
    margin-bottom: 20px; 
  }

  